body{
    background-color: white;
    font-style: arial, sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
  
.content {
    max-width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.content h2 {
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
  }
  
.content p {
    font-size: 20px;
    line-height: 1.5;
  }
  
.content ul {
    list-style: disc;
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
